@import url("https://fonts.googleapis.com/css?family=Roboto:400,500");
html, body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  font-size: 36px;
}

.header {
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(8.75%, rgba(50, 49, 51, 0.42)), color-stop(25.97%, rgba(75, 44, 136, 0.42)), to(rgba(95, 39, 205, 0.42))), #5F27CD;
  background: linear-gradient(180deg, rgba(50, 49, 51, 0.42) 8.75%, rgba(75, 44, 136, 0.42) 25.97%, rgba(95, 39, 205, 0.42) 100%), #5F27CD;
  margin-bottom: 5px;
}

.header .h-container {
  color: #FAFAFA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 17px;
  margin-bottom: 292px;
}

.header .h-container .logo {
  margin: 0;
  margin-left: 45px;
  font-weight: 500;
}

.header .h-container .nav {
  cursor: default;
  margin-right: 8px;
}

.header .h-container .nav .nav__to {
  color: #FAFAFA;
  text-decoration: none;
  margin-right: 50px;
  font-size: 0.5em;
  font-weight: 400;
  vertical-align: center;
}

.header .h-container .nav .nav__to:hover {
  text-decoration: underline;
}

.header .title {
  text-align: center;
  color: #FAFAFA;
  margin-bottom: 230px;
}

.header .title .title__name {
  margin: 0;
  font-weight: 450;
}

.header .title .title__text {
  margin: 0;
  margin-top: 10px;
  font-weight: 400;
}

.header .btn-to {
  color: #FAFAFA;
  border: none;
  width: 300px;
  background: #323133;
  vertical-align: center;
  padding: 0.65em 0;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
}

.header .btn-to span {
  position: relative;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  z-index: 2;
  margin-right: 30px;
}

.header .btn-to .arrow-right {
  position: absolute;
  border: solid #FAFAFA;
  -webkit-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  top: 47%;
  z-index: 900;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.header .btn-to:hover {
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  color: #323133;
}

.header .btn-to:hover .arrow-right {
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  border: solid #323133;
  border-width: 0 3px 3px 0;
}

.header .btn-to::before, .header .btn-to::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: rgba(250, 250, 250, 0.9);
  -webkit-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}

.header .btn-to::after {
  -webkit-transition-delay: 0.2s;
  /* Safari */
  transition-delay: 0.2s;
}

.header .btn-to:hover::before, .header .btn-to:hover::after {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.main {
  background: #323133;
  height: 100%;
  color: #FAFAFA;
  z-index: 2;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .what-i-use {
  width: 400px;
  z-index: 999;
  margin: 0;
  font-weight: 450;
  font-size: 1.777em;
  padding-top: 52px;
  padding-left: 72px;
  color: #FAFAFA;
  position: relative;
}

@-webkit-keyframes what-i-use-anim-1 {
  0% {
    clip: rect(3px, 314px, 22px, 0);
  }
  5.88235% {
    clip: rect(53px, 314px, 1px, 0);
  }
  11.76471% {
    clip: rect(28px, 314px, 32px, 0);
  }
  17.64706% {
    clip: rect(10px, 314px, 51px, 0);
  }
  23.52941% {
    clip: rect(55px, 314px, 49px, 0);
  }
  29.41176% {
    clip: rect(29px, 314px, 7px, 0);
  }
  35.29412% {
    clip: rect(29px, 314px, 27px, 0);
  }
  41.17647% {
    clip: rect(14px, 314px, 10px, 0);
  }
  47.05882% {
    clip: rect(33px, 314px, 3px, 0);
  }
  52.94118% {
    clip: rect(15px, 314px, 37px, 0);
  }
  58.82353% {
    clip: rect(46px, 314px, 2px, 0);
  }
  64.70588% {
    clip: rect(17px, 314px, 45px, 0);
  }
  70.58824% {
    clip: rect(3px, 314px, 53px, 0);
  }
  76.47059% {
    clip: rect(12px, 314px, 25px, 0);
  }
  82.35294% {
    clip: rect(30px, 314px, 26px, 0);
  }
  88.23529% {
    clip: rect(13px, 314px, 36px, 0);
  }
  94.11765% {
    clip: rect(44px, 314px, 48px, 0);
  }
  100% {
    clip: rect(44px, 314px, 5px, 0);
  }
}

@keyframes what-i-use-anim-1 {
  0% {
    clip: rect(3px, 314px, 22px, 0);
  }
  5.88235% {
    clip: rect(53px, 314px, 1px, 0);
  }
  11.76471% {
    clip: rect(28px, 314px, 32px, 0);
  }
  17.64706% {
    clip: rect(10px, 314px, 51px, 0);
  }
  23.52941% {
    clip: rect(55px, 314px, 49px, 0);
  }
  29.41176% {
    clip: rect(29px, 314px, 7px, 0);
  }
  35.29412% {
    clip: rect(29px, 314px, 27px, 0);
  }
  41.17647% {
    clip: rect(14px, 314px, 10px, 0);
  }
  47.05882% {
    clip: rect(33px, 314px, 3px, 0);
  }
  52.94118% {
    clip: rect(15px, 314px, 37px, 0);
  }
  58.82353% {
    clip: rect(46px, 314px, 2px, 0);
  }
  64.70588% {
    clip: rect(17px, 314px, 45px, 0);
  }
  70.58824% {
    clip: rect(3px, 314px, 53px, 0);
  }
  76.47059% {
    clip: rect(12px, 314px, 25px, 0);
  }
  82.35294% {
    clip: rect(30px, 314px, 26px, 0);
  }
  88.23529% {
    clip: rect(13px, 314px, 36px, 0);
  }
  94.11765% {
    clip: rect(44px, 314px, 48px, 0);
  }
  100% {
    clip: rect(44px, 314px, 5px, 0);
  }
}

@-webkit-keyframes what-i-use-anim-2 {
  0% {
    clip: rect(17px, 314px, 46px, 0);
  }
  5.88235% {
    clip: rect(40px, 314px, 28px, 0);
  }
  11.76471% {
    clip: rect(3px, 314px, 7px, 0);
  }
  17.64706% {
    clip: rect(25px, 314px, 53px, 0);
  }
  23.52941% {
    clip: rect(43px, 314px, 45px, 0);
  }
  29.41176% {
    clip: rect(16px, 314px, 46px, 0);
  }
  35.29412% {
    clip: rect(18px, 314px, 48px, 0);
  }
  41.17647% {
    clip: rect(31px, 314px, 48px, 0);
  }
  47.05882% {
    clip: rect(51px, 314px, 48px, 0);
  }
  52.94118% {
    clip: rect(54px, 314px, 37px, 0);
  }
  58.82353% {
    clip: rect(32px, 314px, 20px, 0);
  }
  64.70588% {
    clip: rect(21px, 314px, 2px, 0);
  }
  70.58824% {
    clip: rect(42px, 314px, 6px, 0);
  }
  76.47059% {
    clip: rect(37px, 314px, 32px, 0);
  }
  82.35294% {
    clip: rect(8px, 314px, 2px, 0);
  }
  88.23529% {
    clip: rect(11px, 314px, 29px, 0);
  }
  94.11765% {
    clip: rect(9px, 314px, 23px, 0);
  }
  100% {
    clip: rect(40px, 314px, 42px, 0);
  }
}

@keyframes what-i-use-anim-2 {
  0% {
    clip: rect(17px, 314px, 46px, 0);
  }
  5.88235% {
    clip: rect(40px, 314px, 28px, 0);
  }
  11.76471% {
    clip: rect(3px, 314px, 7px, 0);
  }
  17.64706% {
    clip: rect(25px, 314px, 53px, 0);
  }
  23.52941% {
    clip: rect(43px, 314px, 45px, 0);
  }
  29.41176% {
    clip: rect(16px, 314px, 46px, 0);
  }
  35.29412% {
    clip: rect(18px, 314px, 48px, 0);
  }
  41.17647% {
    clip: rect(31px, 314px, 48px, 0);
  }
  47.05882% {
    clip: rect(51px, 314px, 48px, 0);
  }
  52.94118% {
    clip: rect(54px, 314px, 37px, 0);
  }
  58.82353% {
    clip: rect(32px, 314px, 20px, 0);
  }
  64.70588% {
    clip: rect(21px, 314px, 2px, 0);
  }
  70.58824% {
    clip: rect(42px, 314px, 6px, 0);
  }
  76.47059% {
    clip: rect(37px, 314px, 32px, 0);
  }
  82.35294% {
    clip: rect(8px, 314px, 2px, 0);
  }
  88.23529% {
    clip: rect(11px, 314px, 29px, 0);
  }
  94.11765% {
    clip: rect(9px, 314px, 23px, 0);
  }
  100% {
    clip: rect(40px, 314px, 42px, 0);
  }
}

.main .what-i-use:before, .main .what-i-use:after {
  content: attr(data-text);
  position: absolute;
  top: 50;
  left: 0;
  width: 100%;
  clip: rect(0, 0, 0, 0);
}

.main .what-i-use:after {
  z-index: 1;
  left: 71px;
  text-shadow: -1px 0 #FF9F43;
  animation: what-i-use-anim-1 5s infinite linear alternate-reverse;
}

.main .what-i-use:before {
  z-index: 1;
  margin-left: 71px;
  text-shadow: 2px 0 #5F27CD;
  background-color: #5F27CD;
  animation: what-i-use-anim-2 5s infinite linear alternate-reverse;
}

.main .m-container {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 170px;
  margin-top: 100px;
}

.main .m-container .list {
  font-size: 48px;
  padding: 0;
  margin-left: 10px;
  list-style: none;
  display: inline-block;
  font-weight: 500;
}

.main .m-container .list .list__text--orange {
  color: #FF9F43;
  text-align: left;
}

.main .m-container .list .list-text--purple {
  color: #6A50A7;
  text-align: right;
}

.main .m-container .list:first-child {
  margin-left: 0;
  margin-right: -20px;
  -webkit-transform: translateY(-34%);
          transform: translateY(-34%);
}

.main .m-container .list:last-child {
  margin-left: -95px;
  -webkit-transform: translateY(38%);
          transform: translateY(38%);
}
/*# sourceMappingURL=style.css.map */