@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

html, body {
	font-family: 'Roboto', sans-serif;
	height: 100%;
	font-size: 36px;
}

@import './components/_header.scss';
@import './components/_what-i-use.scss';
@import './components/_work.scss';
@import './components/_footer.scss';
