@import url("https://fonts.googleapis.com/css?family=Roboto:400,500");

*::selection {
  background: #7b62b6;
}

*::-moz-selection {
  background: #7b62b6;
}

html,
body {
  font-family: "Roboto", sans-serif;
  height: 100%;
  font-size: 36px;
}

.main {
  height: 200%;
}

.glitch {
  position: relative;
  &:before,
  &:after {
    display: block;
    position: absolute;
    top: 0%;
    left: 0;
    height: 100%;
    width: 100%;
    content: "Mirari.";
    opacity: 0.8;
  }
  &:after {
    color: #ff9f43;
    z-index: -2;
  }
  &:before {
    color: #0ff;
    z-index: -1;
  }
  &:before {
    animation: glitch 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
  }
  &:after {
    animation: glitch 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both
      infinite;
  }
}

@keyframes glitch {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-1px, -0.5px);
  }
  40% {
    transform: translate(-1px, 0.5px);
  }
  60% {
    transform: translate(1px, -0.5px);
  }
  80% {
    transform: translate(1px, 0.5px);
  }
  to {
    transform: translate(0);
  }
}

@import "./components/_header.scss";
@import "./components/_what-i-use.scss";
@import "./components/_work.scss";
@import "./components/_footer.scss";
