#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
.header {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(
      180deg,
      rgba(50, 49, 51, 0.42) 8.75%,
      rgba(75, 44, 136, 0.42) 25.97%,
      rgba(95, 39, 205, 0.42) 100%
    ),
    #5f27cd;
  .h-container {
    color: #fafafa;
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    margin-bottom: 20px;
    z-index: 0;
    .logo {
      margin: 0;
      margin-left: 54px;
      font-weight: 500;
      text-align: right;
      margin-bottom: -12px;
      // &:after {
      //   content: "beta";
      //   font-size: 9px;
      //   display: block;
      //   margin-top: -9px;
      //   margin-right: -22px;
      // }
    }

    .nav {
      cursor: default;
      margin-right: 8px;

      .nav__to {
        color: #fafafa;
        text-decoration: none;
        margin-right: 50px;
        font-size: 0.5em;
        font-weight: 400;
        vertical-align: center;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .title-container {
    width: 1200px;
    margin: auto;
    position: relative;
    cursor: default;
    .title {
      text-align: center;
      color: #fafafa;
      .title__name {
        margin: 0;
        font-weight: 450;
      }

      .title__text {
        margin: 0;
        margin-top: 10px;
        font-weight: 400;
      }
    }
  }
}

@media screen and (max-width: 414px) {
  .header {
    .title-container {
      width: 350px;
      .title {
        font-size: 18px;
      }
    }
    .h-container {
      .logo {
        margin-left: 25px;
      }
      .nav {
        display: none;
      }
    }
  }
}
