@mixin textGlitch(
  $name,
  $intensity,
  $textColor,
  $background,
  $highlightColor1,
  $highlightColor2,
  $width,
  $height
) {
  color: $textColor;
  position: relative;
  $steps: $intensity;

  @at-root {
    @for $i from 1 through 2 {
      @keyframes #{$name}-anim-#{$i} {
        @for $i from 0 through $steps {
          #{percentage($i*(1/$steps))} {
            clip: rect(
              random($height) + px,
              $width + px,
              random($height) + px,
              0
            );
          }
        }
      }
    }
  }

  &:before,
  &:after {
    content: attr(data-text);
    position: absolute;
    top: 50;
    left: 0;
    width: 100%;
    clip: rect(0, 0, 0, 0);
  }

  &:after {
    z-index: 1;
    left: 71px;
    text-shadow: -1px 0 $highlightColor1;
    animation: #{$name}-anim-1 5s infinite linear alternate-reverse;
  }

  &:before {
    z-index: 1;
    margin-left: 71px;
    text-shadow: 2px 0 $highlightColor2;
    background-color: #5f27cd;
    animation: #{$name}-anim-2 5s infinite linear alternate-reverse;
  }
}

.can {
  height: 100vh;
  background: #323133;
  color: #fafafa;
  z-index: 2;
  overflow: hidden;
  display: flex;
  justify-content: space-between;

  .what-i-use {
    cursor: default;
    width: 450px;
    z-index: 999;
    margin: 0;
    font-weight: 450;
    font-size: 1.777em;
    padding-top: 52px;
    padding-left: 72px;
    @include textGlitch(
      "what-i-use",
      17,
      #fafafa,
      black,
      #ff9f43,
      #5f27cd,
      314,
      55
    );
  }

  .m-container {
    align-self: center;
    margin-left: 0px;
    margin-top: 100px;

    .list {
      font-size: 48px;
      padding: 0;
      margin-left: 10px;
      list-style: none;
      display: inline-block;
      font-weight: 500;

      .list__text--orange {
        color: #ff9f43;
        text-align: left;
      }

      .list-text--purple {
        color: #6a50a7;
        text-align: right;
      }

      &:first-child {
        margin-left: 0;
        margin-right: -10px;
        transform: translateY(-34%);
      }

      &:last-child {
        margin-left: -95px;
        transform: translateY(38%);
      }
    }
  }

  .statue {
    min-height: 100%;
  }
}

@media screen and (max-width: 1700px) {
  .can {
    .m-container {
      margin-top: 300px;
      .list {
        margin: 0;
        &:last-child {
          margin: 0;
          transform: translate(110%, -64%);
        }
      }
    }

    .statue {
      height: 945px;
    }
  }
}

@media screen and (max-width: 1440px) {
  .can {
    .what-i-use {
      font-size: 60px;
    }
    .statue {
      height: 900px;
    }
  }
}

@media screen and (max-width: 1366px) {
  .can {
    .m-container {
      align-self: flex-end;
    }

    .statue {
      height: 665px;
    }
  }
}

@media screen and (max-width: 700px) {
  @mixin textGlitch(
    $name,
    $intensity,
    $textColor,
    $background,
    $highlightColor1,
    $highlightColor2,
    $width,
    $height
  ) {
    position: absolute;
    &:before,
    &:after {
      top: 50;
      left: 0;
      width: 100%;
      clip: rect(0, 0, 0, 0);
      z-index: 2;
    }

    &:after {
      z-index: 1;
      left: 22px;
      text-shadow: -1px 0 $highlightColor1;
      animation: #{$name}-anim-1 5s infinite linear alternate-reverse;
    }

    &:before {
      z-index: 1;
      margin-left: 22px;
      text-shadow: 2px 0 $highlightColor2;
      background-color: #5f27cd;
      animation: #{$name}-anim-2 5s infinite linear alternate-reverse;
    }
  }
  .can {
    .what-i-use {
      position: absolute;
      width: 202px;
      font-size: 38px;
      padding-left: 22px;
      @include textGlitch(
        "what-i-use",
        17,
        #fafafa,
        black,
        #ff9f43,
        #5f27cd,
        203,
        55
      );
    }
    .m-container {
      margin-top: 150px;
      margin-left: 13px;
      align-self: center;
      .list {
        font-size: 32px;
        padding: 0;
        margin-left: 10px;
        list-style: none;
        display: inline-block;
        &:last-child {
          margin: 0;
          transform: translate(110%, -64%);
        }
      }
    }
    .statue {
      display: none;
    }
  }
}
