.work {
  width: 87.3%;
  margin: 25px auto;
  .w-container {
    height: 300px;
    display: flex;
    align-items: center;
    color: #1f1f1f;
    overflow: hidden;
    border-bottom: 3px solid #1f1f1f;
    &:last-child {
      border: none;
    }
    &:hover .w-slide-container {
      bottom: 0;
      transition: bottom 0.7s;
    }
    .w-title {
      margin: 0;
    }
    .w-slide-container {
      position: relative;
      width: 100%;
      display: flex;
      bottom: -100%;
      justify-content: space-between;
      transition: bottom 1s;
      padding-right: 50px;
      .w-slide-container__text {
        width: 550px;
        margin: auto;
        font-size: 24px;
        text-align: center;
      }
      .w-slide-container__btn {
        text-decoration: none;
        color: #1f1f1f;
        width: 1em;
        line-height: 1em;
        text-align: center;
        outline: none;
        transition: all ease-out 0.4s;
        &:hover,
        &:before {
          transition: all ease-in 0.3s;
          color: #5f27cd;
        }
        &:focus {
          color: #5f27cd;
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .work {
    margin: 0;
    width: 100%;
    .w-container {
      flex-direction: column;
      padding-top: 50px;
      .w-title {
        text-align: center;
        margin: 0 auto;
        font-size: 42px;
        width: 300px;
        margin-bottom: 35px;
      }
      .w-slide-container {
        bottom: 0;
        padding: 0;
        font-size: 32px;
        flex-direction: column;

        .w-slide-container__text {
          margin: 0 auto;
          width: 270px;
          margin-bottom: 35px;
        }
        .w-slide-container__btn {
          letter-spacing: 0;
          margin: 0 auto;
          width: 170px;
        }
      }
    }
  }
}
