.work {
	background: #5F27CD;
	margin: 5px;
	text-align: center;
	.btn-work {
		margin: 250px 0;
		transition: border 0.5s ease-out;
		border: 3px solid #FAFAFA;
		background: none;
		color: #FAFAFA;
		width: 200px;
		font-weight: 500;
		height: 50px;
		outline: none;
		&:before {
			content: '';
			transition: all 0.5s ease-out;
			display: block;
			width: 100%;
			height: 100%;
			background: #FF9F43;
			margin-top: -10px;
			margin-bottom: -32px;
			margin-left: -38px;
		}
			&:hover {
				transition: border 0.4s ease-in;
				border: 3px solid transparent;
				&::before {
					transition: all 0.4s ease-in;
					margin-left: 1px;
					margin-bottom: -42px;
				}
			}
	}
}